@model ModeloAsistencia.Models.Grupo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Grupo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDocente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDocente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Asistencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Asistencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grupo1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grupo1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
